@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
    margin: 0rem;
    padding: 0rem;
}

:root {
    --primary-color: #1877f2;
    --seconday-color: #37AC28;
    --body-color: #E9EBEE;
    --dark-gray: #898F9C;

}

body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
}

/* header */
.hero {
    float: left;
}

.hero__image {
    width: 300px;
    height: 106px;
    margin: 6rem 1rem 0rem 10rem;
}

.hero__text {

    font-size: x-large;

    margin: 0rem 0rem 0rem 12rem;
    width: 500px;

}

/* login block */

.login {
    background-color: white;

    width: 396px;
    height: 456px;
    border-radius: 10px;
    margin: 5rem 1rem 1rem 50rem;
    box-shadow: 0 0 0 20pt 10pt darkgray;
}

.login__email {

    margin: 1rem;
    text-align: left;
    width: 364px;
    height: 56px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: medium;
}


.login__password {
    margin: 1rem;
    text-align: left;
    width: 364px;
    height: 56px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: medium;

}

.login__button {
    width: 364px;
    height: 48px;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: larger;
    font-weight: bolder;
}

.login__text {
    color: white;
    font-weight: 1000px;
}

.login__forgotten-password {
    text-align: center;
    color: var(--primary-color);
    font-size: medium;
}

.login__line-break {
    margin: 1rem 1rem 2rem 1rem;
}

.login__account-create {
    width: 200px;
    height: 48px;
    margin: 1rem 2rem 1rem 7rem;
    border: 1px solid var(--seconday-color);
    border-radius: 7px;
    background-color: var(--seconday-color);
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: bolder;



}
/* text below login block */
.below-login {

    margin: 1rem 1rem 1rem 53rem;
    font-size: 15px;
}

.page-create {
    font-weight: bold;
}

footer {
    
    background-color: white;
}

.languages {
    margin-top: 15rem;
    margin-left: 8rem;
    font-size: 0.9rem;
    
}

.language__list {
    display: inline-block;
    text-align: left;
    padding: 0.5rem;
    font-size: smaller;
    color: var(--dark-gray);
    margin-top: 1rem;




}

.language__button {
    width: 30px;
    height: 20px;
    border: 1px solid var(--dark-gray);
    display: inline-block;
    text-align: center;
    color:var(--dark-gray);


}

.language__line {
    margin: .5rem 8.5rem 1rem 8.5rem;

}

.list {
    display: inline-block;
    text-align: left;
    padding-right: 1rem;
    font-size: small;
    color: var(--dark-gray);

}

.link__list {
    margin-left: 8.5rem;
    margin-top: 0rem;
    margin-right: 5rem;
    
    

}